body {
	background-size: cover;
	color: white;
	font-family: 'Roboto', sans-serif;
}
.text-right {
	position: relative;
	left: 60%;
	width: 40%;
}
.text-left {
	position: relative;
	width: 40%;
}
.game {
    padding: 1%;
	position: relative;
	left: 30%;
	width: 40%;
}
.image-right {
    position: absolute;
	top: 10%;
}
.image-left {
    position: absolute;
	top: 10%;
}
a {
   color: aqua;
   text-decoration: none;
}
a:hover {
	color: aquamarine;
}